 @font-face {
  font-family: Solena;
  font-style: normal;
  font-weight: 400;
  src: local(Solena), local(Solena-Regular),
      url('./Solena-Regular.woff') format('woff'),
      url('./Solena-Regular.woff2') format('woff2'),
      url('./Solena-Regular.otf') format('otf'),
      url('./Solena-Regular.ttf') format('ttf');
}