.letter
{
    padding: 50px 68px;
    box-sizing: border-box;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Merriweather;
    letter-spacing: 0.1em;

    width: 600px;
    height: 603px;

    background: #FFFDFA;

    z-index: 1;

    text-align: justify;

    &__link
    {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #D65D3C;

        text-decoration: none;
    }

    &__title
    {              
        font-family: Solena;
        font-size: 64px;
        font-weight: 200;
        line-height: normal;
        margin: 0;

        color: #000000;
    }

    &__text
    {
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;

        color: #7A7A7A;

        &_main
        {
            color: #000;
            text-transform: none;
            line-height: 50px;
            font-size: 40px;

            width: 470px;
            font-size: 64px;
            line-height: 68px;

            font-family: Solena;
        }

        &_center
        {
            align-self: center;
            text-align: center;
        }

        &_only
        {
            flex: 1;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            display: flex;        
        }
    }

    &__buttons
    {
        display: flex;

        align-self: center;
        justify-content: space-around;
        bottom: 20px;
        right: 20px;

        width: 400px;
    }

    &__spin
    {
        margin: 10px;
    }

    &__button
    {
        border: none;
        outline: none;
        padding: 10px 20px;
        margin: 0 5px;
        font-size: 20px;
        background: none;

        font-family: Helvetica, sans-serif;
        
        cursor: pointer;


        &_type
        {
            &_approve
            {
                font-size: 16px;
                color: #fff;
                padding: 15px 50px;
                background: #2A4D60;
                border-radius: 44px;

                &:hover
                {
                    background: #43728c;
                }

                &:active
                {
                    background: #224150;
                }
            }

            &_reject
            {
                &:hover
                {
                    opacity: .8;
                }
            }
        }
    }

    &__devider
    {
        height: 26px;
    }

    &__palette
    {
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    &__palette-color
    {
        width: 68px;
        height: 68px;

        border-radius: 50%;

        &:nth-child(1)
        {
            background: #c86446;
        }

        &:nth-child(2)
        {
            background: #ecad83
        }

        &:nth-child(3)
        {
            background: #c5d1db;
        }

        &:nth-child(4)
        {
            background: #324d5e;
        }

        &:nth-child(5)
        {
            background: #b09f94;
        }
    }
}
