.letter
{
    padding: 60px;
    box-sizing: border-box;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: ALSNF64;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #4F4F4F;

    width: 600px;
    height: 600px;

    background: #FCFCFF;

    z-index: 1;

    text-align: justify;

    &__link
    {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #D65D3C;

        text-decoration: none;
    }

    &__title
    {
        font-family: ALSNF64;
        font-size: 30px;
        font-weight: 200;
        line-height: normal;
        margin: 0;

        color: #000000;
    }

    &__text
    {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        max-width: 350px;

        &_center
        {
            align-self: center;
            text-align: center;
        }

        &_large
        {
            max-width: 100%;
            font-size: 90px;
        }

        &_highlight
        {
            font-family: Springblush;
            color: #E5D093;
            text-transform: initial;
            line-height: 0.9em;
        }

        &_only
        {
            flex: 1;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            display: flex;
        }
    }

    &__buttons
    {
        display: flex;

        align-self: center;
        justify-content: space-around;
        margin-top: 20px;
        bottom: 20px;
        right: 20px;

        width: 400px;
    }

    &__spin
    {
        margin: 10px;
    }

    &__button
    {
        border: none;
        outline: none;
        padding: 10px 20px;
        margin: 0 5px;
        font-size: 14px;
        font-family: ALSNF64;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        background: none;

        cursor: pointer;

        &_type
        {
            &_approve
            {
                color: #fff;
                padding: 15px 50px;
                background: #7E985E;

                &:hover
                {
                    background: #6f8e4a;
                }

                &:active
                {
                    background: #669033;
                }
            }

            &_reject
            {
                border: 1px solid #D0D0D0;
                opacity: .8;

                &:hover
                {
                    opacity: 1;
                }
            }
        }
    }

    &__devider
    {
        height: 26px;
    }

    &__palette
    {
        width: 100%;

        display: flex;
        justify-content: space-between;

        &_type
        {
            &_woman
            {
                .letter__palette-color
                {
                    &:nth-child(1)
                    {
                        background: #ECD7C3;
                    }

                    &:nth-child(2)
                    {
                        background: #F1DCD5
                    }

                    &:nth-child(3)
                    {
                        background: #C9AFA3;
                    }

                    &:nth-child(4)
                    {
                        background: #E6DBDA;
                    }

                    &:nth-child(5)
                    {
                        background: #B2BAA8;
                    }
                }
            }

            &_man
            {
                .letter__palette-color
                {
                    &:nth-child(1)
                    {
                        background: #EBE7E2;
                    }

                    &:nth-child(2)
                    {
                        background: #D9D4CF
                    }

                    &:nth-child(3)
                    {
                        background: #B9AFA6;
                    }

                    &:nth-child(4)
                    {
                        background: #B3B3B3;
                    }

                    &:nth-child(5)
                    {
                        background: #595959;
                    }
                }
            }
        }
    }

    &__palette-color
    {
        width: 52px;
        height: 52px;

        margin-right: 12px;

        border-radius: 50%;
    }
}
